
    <h2 class="text-center">Add Book Here</h2>
    <form>
        <div class="form-group">
            <label for="name">Book Name:</label>
            <input type="name" [(ngModel)] = "book.name" placeholder="name" name="bookName" class="form-control" id="name">
        </div>
        <br>
        <div class="form-group">
                <label for="author">Book Author:</label>
                <input type="text"  [(ngModel)] = "book.author" placeholder="author" name="bookAuthor" class="form-control" id="author">
            </div>
            <br>
        <div class="form-group">
                    <label for="price">Book Price:</label>
                    <input type="text" [(ngModel)] = "book.price" placeholder="price" name="bookPrice" class="form-control" id="price">
        </div>
        <div class="form-group">
            <label for="lib"> library: </label> 
            <select class="form-control" id="lib" (change)="onNameChange($event.target.value)">
                <option value="0" [selected]="isSelected">--choose a library--</option>
                <option *ngFor="let library of libs" value={{library.id}}>
                            {{library.name}}
                </option>
            </select>          
            
        </div>
        <div>
            <input type ="button" value="add" class="btn btn-primary" (click)="onSubmit()"/>
        </div>

    </form>
    
